header{
    text-align: center;
    color:black;
    
}
h1{
    text-align: center;
}
footer,address{
    color: white;
    text-align: center;
}
main{
    text-align: center;
}
h1{
    text-align: center;
}
footer,address{
    color: white;
    text-align: center;
}
section{
    text-align: center;
}